.dropdown {
  visibility: hidden;
  position: absolute;
  box-sizing: border-box;
  margin-top: 2px;
  cursor: default;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1);
}

.open {
  visibility: visible;
  transform: scaleY(1);
}
