.container {
  padding: 15px 20px;
}

.container:not(:last-of-type){
    border-bottom: 1px solid #e3e3e3;
}

.container p {
  margin-top: 20px;
}

.bubble {
  background-color: #55B475;
  border-radius: 3px;
  padding: 3.6px 6.3px;
  color: white;
  font-size: 11.5px;
  margin-right: 15px;
}

.link {
  composes: links from "../../App.css";
}

.editBtn {
  display: inline-block;
  width: 120px;
}
