.container {
  width: 100%;
  padding: 25px 15px;
  height: 500px;
  box-sizing: border-box;
}

.create {
  margin-top: 10px;
  font-size: 11px;
}

.padding {
  padding: 25px 15px;
}

.padding > h3 {
  margin-bottom: 25px;
}

.error {
  font-size: 11px;
  color: #e75b52;
}

.link {
  composes: links from '../../../App.css';
}

.choose {
  margin-top: 15px;
}

@media (min-width: 640px){
  .container {
    width: 55%;
  }
}
