.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.6);
  z-index: 2500;
}

.error {
  font-size: 11px;
  color: #e75b52;
}

.modalContent {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.padding {
  padding: 15px 33px;
}

.padding > h1 {
  margin: 10px;
}

.cancelBtn {
  composes: links from '../../App.css';
  font-size: 15px;
  margin-left: 25px;
}

@media (min-width:640px){
  .modalContent {
    width: 35%;
  }
}
