.noTickets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  text-align: center;
  padding: 15px;
}

.createBtn {
  margin-top: 15px;
  width: 200px;
}

@media (min-width: 900px){
  .createBtn {
    width: 32%;
  }
}
