.createBtn {
  margin-top: 15px;
  width: 200px;
}

.noApplications {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 15px;
}

.title {
  color: white;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform:uppercase;
}

@media (min-width: 640px){
  .createBtn {
    width: 32%;
  }
}
