.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 35px;
}

.createBtn {
  width: 200px;
  margin-top: 15px;
}

@media (min-width: 640px) {
  .createBtn {
    width: 32%;
  }
}
