.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 16px 20px;
  box-sizing: border-box;
  transition: all 0.1s cubic-bezier(0.5, 0, 0, 1);
}

.container:not(:last-child){
  border-bottom: 1px solid #e3e3e3;
}

.details {
  display: flex;
  align-items: center;
}

.details p {
  font-size: 11px;
}
.info {
  margin-left: 15px;
}

.hover {
  transition: color 0.2s cubic-bezier(0.5, 0, 0, 1);
}

.hover:hover {
  color: #00a19a;
}
.actions {
  font-size: 14px;
  composes: muted from "../../App.css";
  transition: color 0.2s cubic-bezier(0.5, 0, 0, 1);
}

.actions:hover {
  color: #00a19a;
}
.actions:first-child {
  margin-right: 35px;
}


@media (min-width: 640px){
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  },
  .buttons {
    margin-top: 10px;
  }
}
