.container {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  position: relative;
  height: 100%;
  overflow: auto;
}
.map {
  height: 50%;
  position: relative;
}

.properties,.map {
  width: 100%;
  float: left;
}

.properties {
  overflow: auto;
  padding: 10px 20px;
  box-sizing: border-box;
}
.input {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.inputIcon {
  width: 22px;
  height: 22px;
  margin-left: -30px;
  z-index: 50;
}
.hidden {
  display: none;
}

.input input {
  padding: 5px 35px 5px 5px;
  position: relative;
  z-index: 2000;
  height: 40px;
  margin-bottom: 0;
  border-radius: 4px;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #DBDBDB;
}

.searchBar {
  width: 50%;
  display: flex;
  align-items: center;
  position: fixed;
  margin-left: 120px;
  top: 0;
  height: 55px;
}

@media (min-width: 900px){
  .map,.properties {
    width: 50%;
    height: 100%;
    max-height: 100%;
  },
  .searchBar {
    height: 70px;
  },
  .container {
    top: 70px;
  }
}
