.accountBtn {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #AAB1AE;
}

.accountPosition {
  top: 100%;
  right: 0;
}

.accountDropdown {
  padding: 10px;
  background-color: #fff;
  width: 125px;
  font-size: 14px;
}

.background:hover {
  background-color: #313735;
  border-bottom: 2px solid #fff;
}

.border:hover {
  border-bottom: 2px solid #AAB1AE;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
  height: 100%;
}

.background {
  display: none;
}

.dropdownLink {
  margin: 5px 0;
  composes: links from "../../App.css";
}

@media (min-width: 900px){
  .background {
    display: flex;
  }
}
