.pagePadding {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  composes: pagePadding;
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #fff;
}

.nav {
  composes: muted from '../../../App.css';
  padding-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  padding: 15px;
}

.addBtn {
  margin-top: 15px;
  width: 200px;
}

@media (min-width: 640px){
  .addBtn {
    width: 32%;
  }
}
