.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.6);
  z-index: 2000;
}

.modalContent {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.padding {
  padding: 15px 33px;
}

@media (min-width:640px){
  .modalContent {
    width: 35%;
  }
}
