.avatar {
  width: 45px;
  height: 45px;
  color: #78909c;
  border-radius: 50%;
  border: 2px solid #78909c;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
}

.wrap {
  display: flex;
  padding: 16px 20px;
  box-sizing: border-box;
}
.container {
  transition: all 0.1s cubic-bezier(0.5, 0, 0, 1);
  cursor: pointer;
}

.container:hover {
  color: #00a19a;
  border-left: 2px solid #bbb;
}

.container:not(:last-child){
  border-bottom: 1px solid #e3e3e3;
}

.row {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.faded {
  composes: muted from "../../App.css";
  font-size: 12px;
}

.link {
  composes: links from "../../App.css";
  font-size: 12px;
}

@media (min-width: 640px){
  .avatar {
    width: 55px;
    height: 55px;
    line-height: 55px;
  },
  .row {
    flex-direction: row;
    align-items: center;
  }
}
