.ticketForm {
  padding: 15px;
  width: 100%;
  margin: 25px auto;
}

.errors {
  font-size: 11px;
  color: #e75b52;
}

.description {
  margin-bottom: 10px;
}

@media (min-width: 640px){
  .ticketForm {
    width: 70%;
  }
}
