
.container {
  margin-top: 20vh;
  padding: 0 24px;
  box-sizing: border-box;
}
.search {
  padding: 17px 120px 19px 20px;
  font-size: 18px;
  height: 65px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #444;
  border: 1px solid #DBDBDB;
  box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25);
  margin-right: -110px;
}

.headline {
  font-size: 34px;
  font-weight:600;
}


@media (min-width: 1024px){
  .container {
    padding: 0 250px;
  }
}

@media (min-width: 640px){
  .headline {
    font-size: 48px;
  }
}
