.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  padding: 15px;
}

.addBtn {
  margin-top: 15px;
  width: 200px;
}

@media (min-width: 640px){
  .container {
    padding-bottom: 100px;
  },
  .addBtn {
    width: 32%;
  }
}
