.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
  margin-bottom: 0;
  margin-left: 7px;
}

.toggle {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #e3e3e3;
}

.switch .toggle:checked + .slider {
  background-color: #00a19a;
}

.switch .toggle:checked + .slider:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}
