.container {
  margin: 7px 0;
  position: relative;
  width: 100%;
  display: flex
}

.avatar {
  width: 40px;
  height: 40px;
  color: #78909c;
  border-radius: 50%;
  border: 2px solid #78909c;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
}

.message {
  border-radius: 4px;
  padding: 10px;
  background-color: #F7F7F7;
  margin: 0 10px;
}

.submitted {
  opacity: 0;
  font-size: 10px;
}

.container:hover .submitted {
  opacity: 1;
}
