.back {
  composes: links from "../../../App.css";
  font-size: 13px;
  margin-top: 15px;
  display: inline-block;
}

.padding {
  padding: 15px;
}

.descriptionContainer, .leaseContainer {
  width: 100%;
  float: right;
  composes: padding;
  box-sizing: border-box;
}

.description {
  composes: padding;
  border-bottom: 1px solid #d3d3d3;
}

.description > p {
  font-size: 16px;
  margin-bottom: 10px;
}

.comments {
  composes: padding;
}

.lease {
  border-radius: 3px;
  background-color: #F7F7F7;
  composes: padding;
}

.row {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.row > h5 {
  display: inline-block;
}

@media (min-width: 640px){
  .descriptionContainer {
    width: 55%;
  },
  .leaseContainer {
    width: 45%
  }
}
