
.createBtn {
  margin-top: 20px;
  float: right;
}

.space {
  margin-bottom: 25px;
}

.title {
  color: white;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform:uppercase;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 35px;
}

.addBtn {
  width: 200px;
  margin-top: 15px;
}

@media (min-width: 640px){
  .addBtn {
    width: 32%;
  }
}
