
.createBtn {
  margin: 20px 0;
  float: right;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 35px;
}

.addBtn {
  width: 200px;
  margin-top: 15px;
}

@media (min-width: 640px){
  .addBtn {
    width: 32%;
  }
}
