.container {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.content {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.rooms {
  margin: 10px 0;
}

.details {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
.details h5 {
  display: inline-block;
}
@media (min-width: 640px){
  .container {
    width: 45%;
  },
  .content {
    flex-direction: row;
  },
  .details {
    margin-top: 0;
    margin-left: 15px;
    text-align: left;
  }
}
