.header {
  border-bottom: 1px solid #e4e4e4;
  position: absolute;
  top: 0;
  z-index: -5;
  width: 100%;
}

.padding {
  padding: 20px 33px;
}

.image {
  width: 100%;
  height: 300px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid #d3d3d3;
}

.details li {
  display: inline-block;
  margin-top: 20px;
}

.details li:nth-child(-n+2) {
  border-right: 1px solid #e3e3e3;
  padding: 0 10px;
}

.details li:last-child {
  padding-left: 10px;
}

.container,.application {
  box-sizing: border-box;
  width: 100%;
  float: right;
  padding: 0 15px;
  margin: 5px 0;
}

.locationContainer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #e3e3e3;
}

.locationContainer a {
  font-size: 14px;
}
.link {
  composes: links from '../../../App.css';
}
.margin {
  margin-top: 30px;
}
.map {
  width: 100%;
  height: 400px;
}

@media (min-width:640px) {
  .application {
    width: 42%;
  },
  .container {
    width: 58%;
  },
  .info {
    flex-direction: row;
  },
  .details li {
    margin-top: 0;
  }
}

@media (min-width:1024px) {
  .image {
    height: 400px;
  },
  .info {
    padding: 20px 90px;
  },
  .space {
    padding: 0px 80px;
  }
}
